@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #009688;
  margin-bottom: 15px;
}

#form-container,
#button-container,
#nameForm {
  margin: 20px auto;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  max-width: 300px;
}

#nameInput,
#chat-input,
button {
  padding: 12px;
  border: 2px solid #009688;
  border-radius: 20px;
  margin: 5px 0;
  font-size: 1em;
  width: calc(100% - 24px);
  box-sizing: border-box;
}

button {
  background-color: #009688;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #00796b;
}

button:active {
  background-color: #00695c;
}

#tic-tac-toe-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 300px;
  margin: 20px auto;
}

.cell {
  border: 2px solid #009688;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 100px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #e0f2f1;
}

#chat-container {
  max-width: 300px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

#chat-window {
  overflow-y: auto;
  background-color: #e0f2f1;
  border-radius: 10px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 8px 12px;
  border-radius: 15px;
  margin: 4px 0;
  max-width: 70%;
  word-wrap: break-word;
  color: #fff;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 600;
}

.user-message {
  background-color: #00796b;
  align-self: flex-start;
}

.response {
  background-color: #009688;
  align-self: flex-end;
}

#button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 24px); /* Adjust for padding and border */
  margin: 5px 0;
}

#button-container button {
  flex: 1; /* Allows buttons to grow equally */
  margin: 0 5px; /* Adds space between the buttons */
  width: auto; /* Override width set by general button style */
}

@media (max-width: 600px) {
  #nameInput,
  #button-container button {
    width: 90%;
  }
}
